.mainContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Take up the full height of the viewport */
  }
  
  .centerContainer {
    text-align: center; /* Center content inside */
  }
  
  /* Your existing styles */
  .titleContainer {
    font-size: 24px;
    font-weight: bold;
  }
  
  .inputContainer {
    margin-bottom: 20px;
  }
  
  .inputBox {
    padding: 8px;
    width: 200px;
  }
  
  .inputButton {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .errorLabel {
    color: red;
  }
  